# Client environment variables
# Copy this to client/.env and adjust as needed

# Backend server URL (default: http://localhost:3001)
REACT_APP_SERVER_URL= https://collabcode-production-aeb4.up.railway.app
